<%= link_to 'Go Back To Loan', @loan %>
<h1>Your Advance Payments</h1>

<table>
  <tr>
    <th>When</th>
    <th>Amount</th>
    <th>Trimmed Periods</th>
    <th>Money Saving</th>
    <th>Action<th>
  </tr>

<% for advance in @advances %>
  <tr>
    <td><%=h advance.dop %></td>
    <td><%=h sprintf("%0.2f", advance.amount) %></td>
    <td><%=h advance.saving.periods %></td>
    <td><%=h sprintf("%0.2f", advance.saving.saving) %></td>
    <td><%= link_to 'Delete', loan_advance_path(@loan, advance), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New advance', new_loan_advance_path(@loan) %>
