<%= link_to 'Loan', @loan %>
<h1>Listing advances</h1>

<table>
  <tr>
    <th>When</th>
    <th>Amount</th>
  </tr>

<% for advance in @advances %>
  <tr>
    <td><%=h advance.when %></td>
    <td><%=h advance.amount %></td>
    <td><%= link_to 'Show', loan_advance_path(@loan, advance) %></td>
    <td><%= link_to 'Edit', edit_loan_advance_path(@loan, advance) %></td>
    <td><%= link_to 'Destroy', loan_advance_path(@loan, advance), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New advance', new_loan_advance_path(@loan) %>
