<h1>Create an advance payment</h1>

<% form_for :advance, :url => {:action => 'create'} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :dop %><br />
    <%= f.date_select :dop %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<br/>&nbsp<br/>
<%= link_to 'Cancel', loan_advances_path(@loan) %>
