<h1>Editing schedule</h1>

<% form_for(@schedule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :period %><br />
    <%= f.date_select :period %>
  </p>
  <p>
    <%= f.label :payment %><br />
    <%= f.text_field :payment %>
  </p>
  <p>
    <%= f.label :interest_paid %><br />
    <%= f.text_field :interest_paid %>
  </p>
  <p>
    <%= f.label :capital_paid %><br />
    <%= f.text_field :capital_paid %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Back', schedules_path %>
