<h1>Listing schedule for Loan</h1>

<div id="container" style="width:460px;height:400px"></div>
<div id="container_2" style="width:460px;height:400px"></div>

  <script type="text/javascript">
  var f = Flotr.draw( $('container'),[
            { 
              data: [<%= plot_existing_capital(@loan) %>],
              label: "capital debt"
             },
			{
			  data: [<%= plot_capital_sum(@loan) %>],
			  label: "equity"
			}
            ],{
              yaxis: {min:0}
            }
            );
  var f = Flotr.draw( $('container_2'),[
			{
			  data: [<%= plot_interest_paid(@loan) %>],
			  label: "interest paid"
			},
			{
			  data: [<%= plot_interest_remaining(@loan) %>],
			  label: "interest remaining"
			}
            ],{
              yaxis: {min:0}
            }
            );
  </script>

<table>
  <tr>
    <th>Period</th>
    <th>Remaining Capital</th>
    <th>Repayment</th>
    <th>Interest paid</th>
    <th>Capital paid</th>
    <th>Equity</th>
  </tr>

<% 	capital_sum = 0
	for schedule in @schedules 
%>

  <tr>
    <td><%=h schedule.period %></td>
    <td align="right"><%=h sprintf("%0.2f", schedule.existing_capital) %></td>
    <td align="right"><%=h sprintf("%0.2f", schedule.repayment) %></td>
    <td align="right"><%=h sprintf("%0.2f", schedule.interest_paid) %></td>
    <td align="right"><%=h sprintf("%0.2f", schedule.capital_paid) %></td>
      <% capital_sum += schedule.capital_paid %>
    <td align="right"><%=h sprintf("%0.2f", capital_sum) %></td>
  </tr>
<% end %>
</table>

<br />

