<h1>Edit Your Loan</h1>

<% form_for(@loan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </p>
  <p>
    <%= f.label :principal %><br />
    <%= f.text_field :principal %>
  </p>
  <p>
    Annual Interest Rate (ex. 12.0 = 12%)<br />
    <%= f.text_field :annual_interest %>
  </p>	
  <p>
    Compounding Periods (ex. 240 = 20 years x 12)<br />
    <%= f.text_field :compounding_periods %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<br/>&nbsp;<br/>
<%= link_to 'Back to Loan', loan_path(@loan) %>
