<h1>Your Loans</h1>

<table>
  <tr>
    <th>Starting Date</th>
    <th>Principal</th>
    <th>Annual Interest Rate</th>
    <th>Compounding Periods</th>
    <th>Monthly Repayment</th>
    <th>Total Paid</th>
    <th>Total Interest</th>
    <th>Future Value</th>
    <th>Actions</th>
  </tr>

<% for loan in @loans %>
  <tr>
    <td><%=h loan.start %></td>
    <td><%= link_to sprintf("%0.2f", loan.principal), loan_path(loan) %></td>
    <td><%=h sprintf("%0.2f", loan.annual_interest) %></td>
    <td><%=h loan.compounding_periods %></td>
    <td><%=h sprintf("%0.2f", loan.repayment) %></td>
    <td><%=h sprintf("%0.2f", (loan.compounding_periods * loan.repayment)) %></td>
    <td><%=h sprintf("%0.2f", (loan.compounding_periods * loan.repayment) - loan.principal) %></td>
    <td><%=h sprintf("%0.2f", loan.future_value) %></td>
    <td><%= link_to 'Schedule', loan_schedules_path(loan) %><br/>
        <%= link_to 'Edit', edit_loan_path(loan) %><br/>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Model a New Loan', new_loan_path %>
