<h1>Your Loan</h1>

<%= link_to 'View Schedule', loan_schedule_path(@loan, nil) %> | <%= link_to 'Make An Advance Payment', new_loan_advance_path(@loan) %> | <%= link_to 'View Current Advances', loan_advances_path(@loan) %>
<br/>&nbsp;<br/>

<p>
  <b class="tag">Start:</b>
  <%=h @loan.start %>
</p>

<p>
  <b class="tag">Principal:</b>
  <%=h sprintf("%0.2f", @loan.principal) %>
</p>

<p>
  <b class="tag">Interest:</b>
  <%=h @loan.annual_interest %>
</p>

<p>
  <b class="tag">Period:</b>
  <%=h @loan.compounding_periods %>
</p>
<p>
  <b class="tag">Repayment:</b>
  <%=h sprintf("%0.2f", @loan.repayment) %>
</p>
<p>
  <b class="tag">Total Paid:</b>
  <%=h sprintf("%0.2f", @loan.total_payments) %>
</p>

<br/>&nbsp;<br/>
<%= link_to 'Edit Loan', edit_loan_path(@loan) %> | <%= link_to 'View All Loans', loans_path %>
