<%= link_to 'Schedule', loan_schedule_path(@loan, nil) %>
<%= link_to 'Make An Advance Payment', new_loan_advance_path(@loan) %>
<br/>
<p>
  <b>Start:</b>
  <%=h @loan.start %>
</p>

<p>
  <b>Principal:</b>
  <%=h @loan.principal %>
</p>

<p>
  <b>Interest:</b>
  <%=h @loan.annual_interest %>
</p>

<p>
  <b>Period:</b>
  <%=h @loan.compounding_periods %>
</p>
<p>
  <b>Repayment:</b>
  <%=h "R#{@loan.repayment}" %>
</p>
<p>
  <b>Total Paid:</b>
  <%=h "R#{@loan.total_payments}" %>
</p>


<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
